.navbar {
    display: flex;
    background-color: var(--green);
    align-items: center;
    padding: .75rem;
    margin-bottom: 20px;
}

.navbar-logo-container {
    display: flex;
    font-family: 'Lobster', cursive;
}

.navbar-logo-text {
    color: white;
    font-size: 2rem;
}

.buttons-container {
    margin-left: auto;
}

.navbar-return-container{
    text-decoration: none;
}

.navbar-return-icon {
    font-size: 3rem;
    margin-right: 24px;
    cursor: pointer;
}

.fa-circle-left>path{
    color: white;
}

.navbar>.buttons-container {
    height: 3rem;
}


@media screen and (max-width: 485px) {
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .navbar>.buttons-container {
        justify-content: center;
        margin: 0;
    }

    .navbar-logo-text {
        font-size: 40px;
    }
}