.buttons-container {
  display: flex;
  font-family: Roboto, arial, sans-serif;
  margin: 0 3.5rem;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.btn-login-anon {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1px;
  background-color: var(--red);
  padding: 1px;
  font-size: 2rem;
  line-height: 6rem;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 25%) 0px 2px 4px 0px;
  transition: box-shadow 0.218s ease 0s;
}

.btn-login-anon:hover {
  box-shadow: rgba(227, 41, 44, 0.3) 0px 0px 3px 3px;
}

.btn-login-anon-img {
  width: 6rem;
  height: 6rem;
  background-color: white;
  border-radius: 1px;
}

.btn-login-anon-text {
  margin: 0 2.5rem;
  color: white;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1px;
  padding: 0.5rem;
  line-height: 6rem;
  gap: 2rem;
  background-color: white;
  border-radius: 1.2rem;
}

.user-image {
  width: 4rem;
  height: 4rem;
  background-color: white;
  border-radius: 50%;
}

.user-name {
  margin-right: 2.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue);
  font-family: "ComicFont2", sans-serif;
}

.user-logout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px;
  gap: 1.2rem;
  padding: 1rem 3rem;
  line-height: 6rem;
  cursor: pointer;
  background-color: white;
  border-radius: 1.2rem;
  border: 2px solid rgba(0, 0, 0, 0);
  transition: border 0.1s ease-in-out;
}

.user-logout-btn:hover {
  border: 2px dashed var(--red);
}

.user-logout-btn-icon {
  width: 3rem;
  height: 3rem;
}

.user-logout-btn > p {
  font-family: "ComicFont2", arial, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  color: var(--red);
}

.user-container,
.user-logout-btn {
  height: 5rem;
}

@media screen and (max-width: 1678px) {
  .level-page .user-container > p {
    display: none;
  }
}

@media screen and (max-width: 948px) {
  .user-name {
    display: none;
  }

  .user-logout-btn > p {
    display: none;
  }
}
