.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 15vh;
    font-family: 'Lobster', cursive;
}

.home-page-logo {
    margin-top: 20vh;
    font-size: 8rem;
    color: var(--green);
}

.home-page-login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 5rem;
    border: 1rem solid var(--green);
    border-radius: 20px;
}

.home-page-login-header {
    font-size: 5rem;
    color: var(--green);
}

@media screen and (max-width: 569px) {
    .home-page {
        gap: 10vh;
    }

    .home-page-logo {
        font-size: 5rem
    }

    .home-page-login-header {
        font-size: 3.5rem;
    }

    .home-page-login-wrapper {
        border: none;
        padding: 0 0 5rem 0;
    }
    .home-page-login-wrapper>.buttons-container {
        flex-direction: column;
    }
}