.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    gap: 15vh;
    font-family: 'Lobster', cursive;
}

.home-page-logo {
    margin-top: 20vh;
    font-size: 72px;
    color: var(--green);
}

.home-page-login-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 40px;
    border: 10px solid var(--green);
    border-radius: 20px;
}

.home-page-login-header {
    font-size: 42px;
    color: var(--green);
}

@media screen and (max-width: 569px) {
    .home-page-logo {
        font-size: 3rem
    }
    .home-page-login-wrapper {
        border: none;
        padding: 0;
    }
    .home-page-login-wrapper>.buttons-container {
        flex-direction: column;
    }
}