.level-page-container {
    display: flex;
}

.sidebar-left {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    min-width: max-content;
    margin-right: auto;
    border-right: 2px dashed var(--red);
}

.sidebar-left-header {
    font-size: 6rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed var(--red);
    text-align: center;
    font-family: 'ComicFont1', sans-serif;
    color: var(--red);
    font-weight: 200;
}

.score-container {
    display: flex;
    flex-direction: column;
    border-bottom: 1px dashed var(--red);
    margin-top: 1rem;
    padding: 1rem;
}

.score-user{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .3rem;
}

.score-image{
    width: 5rem ;
    height: 5rem;
    object-fit: contain;
    border-radius: 50%;
}

.score-name {
    font-family: 'ComicFont2', sans-serif;
    margin-bottom: .5rem;
    font-size: 2rem;
    color: var(--blue);
    font-weight: 600;
}

.score-value {
    text-align: center;
    color: var(--red);
    font-size: 4rem;
    font-weight: 200;
    font-family: "ComicFont1";
}

.sidebar-right {
    min-width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    border-left: 2px dashed var(--red);
}

.indicator-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    margin:1rem 0 1.2rem 1rem;
}

.indicator-container:last-child .character-indicator-container  {
    border-bottom: unset;
}

.character-indicator-container {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    transition: background-color 0.5s ease-in-out;
    border-bottom: 1px dashed var(--red);
    border-top-left-radius: 20px;
    font-family: 'ComicFont2', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.character-indicator-container.correct {
    background-color: rgba(94, 206, 123, 1);
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.character-indicator-container > p {
    color: var(--red);
}

.character-indicator-container.correct > p {
    color: white;
}

.character-indicator > p {
    display: inline-block;
}

.character-indicator-checkmark {
    transition: all 0.5s ease-in-out;
    margin-right: 2.5rem;
    width: 4rem;
    height: 4rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(29deg) brightness(105%) contrast(105%)
}

.timer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: var(--blue);
    font-family: 'Cartoon', sans-serif;
    border-style: solid;
    border-width: 18px 42px 16px 20px;
    -moz-border-image: url("../../assets/doodle-assets/box.png") 37 74 44 53 stretch stretch;
    -webkit-border-image: url("../../assets/doodle-assets/box.png") 37 74 44 53 stretch stretch;
    -o-border-image: url("../../assets/doodle-assets/box.png") 37 74 44 53 stretch stretch;
    border-image: url("../../assets/doodle-assets/box.png") 37 74 44 53 stretch stretch;
}

.timer-image {
    width: 12rem;
    height: 12rem;
}

.timer-value {
    font-size: 6rem;
    color: black;
    font-weight: 400;
}

.game-image-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(var(--blue), var(--blue) 5rem, white 5rem, white 10rem);
}

.game-image {
    width: auto;
    height: 95vh;
}


.text-div-wrapper {
    position: absolute;
}

.text-wrapper{
    position: relative;
    overflow: hidden;
}

.marker-container {
    position: absolute;
}

.marker-container > * {
    font-size: 2rem;
}

.marker-text {
    position: absolute;
    font-family: 'ComicFont2', sans-serif;
    margin: 0;
    padding: .5rem;
    border-radius: 5px;
    white-space: nowrap;
    font-size: 2rem;
    font-weight: bolder;
    color: black;
    background-color: white;
}

.marker-pin {
    height: 7rem;
    width: 4rem;
}


.character-selector-container {
    position: absolute;
    font-family: 'Raleway', sans-serif;
    background-color: white;
    border-style: solid;
    border-width: 18px 42px 16px 20px;
    -moz-border-image: url("../../assets/doodle-assets/box.png") 37 74 44 53 stretch stretch;
    -webkit-border-image: url("../../assets/doodle-assets/box.png") 37 74 44 53 stretch stretch;
    -o-border-image: url("../../assets/doodle-assets/box.png") 37 74 44 53 stretch stretch;
    border-image: url("../../assets/doodle-assets/box.png") 37 74 44 53 stretch stretch;
}

.character-container {
    padding: .2rem .5rem;
    transition: all .3s ease-in-out;
    border-bottom: 1px dashed black;
    color: var(--blue);
}

.character-container:last-child {
    border: unset;
}

.character-container:hover {
    background-color: var(--red);
    color: white;
}

.character-container > button {
    font-size: 2rem;
    white-space: nowrap;
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    font-weight: 600;
    font-family: "ComicFont2";
}

.jello-horizontal {
	-webkit-animation: jello-horizontal 0.9s infinite both;
	        animation: jello-horizontal 0.9s infinite both;
}

@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }
  

@media screen and (max-width: 1480px) {
    .sidebar-right {
        min-width: 20rem;
    }

    .character-indicator-container {
        padding: .5rem .5rem .5rem 1rem;
        font-size: 1.5rem;
    }

    .character-indicator-container > p {
        margin-left: 1rem;
    }

    .indicator-container {
        gap: .5rem;
    }

    .character-indicator-checkmark {
        margin-right: unset;
    }

    .timer-value {
        font-size: 4rem;
    }
}

@media screen and (max-width: 1230px) {

    .timer-container{
        width: 100%;
        border-radius: unset;
    }

    .sidebar-left {
        min-width: min-content;
    }

    .sidebar-right {
        min-width: 10rem;
    }
}

@media screen and (max-width: 920px) {
    .sidebar-left {
        display: none
    }
}
