.text-div-wrapper {
    position: absolute;
}

.text-wrapper{
    position: relative;
    overflow: hidden;
}

.marker-text {
    position: absolute;
    padding: 6px;
    margin: 0;
    background-color: blue;
    white-space: nowrap;
    border-radius: 10px;
}

.marker {
    font-size: 42px;
    bottom: 0;
    color: red;
}