/* font-family: 'Raleway', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Secular+One&display=swap");
/* font-family: 'Roboto', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Lobster', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
/* font-family: 'Work Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "ComicFont1";
  src: url("assets/fonts/orange\ juice\ 2.0.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ComicFont2";
  src: url("assets/fonts/KOMIKASL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cartoon";
  src: url("assets/fonts/cartoon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --green: rgb(161, 213, 112);
  --overlay: rgba(57, 55, 72, 0.22);
  --pink: rgb(206, 95, 176);
  --violet: rgb(125, 95, 206);
  --blue: rgb(155, 199, 234);
  --red: rgb(226, 40, 40);
  --lightRed: rgb(227, 41, 45);
  --transparentBlack: rgba(0, 0, 0, 0.73);
  --dark: rgba(29, 31, 34, 1);
  --blueTransparent: rgba(155, 198, 234, 0.5);
  --redTransparent: rgba(226, 40, 40, 0.5);
  font-size: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast-body > * {
  color: white;
  font-size: 2rem;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: var(--green) !important;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: var(--red) !important;
}

div::-webkit-scrollbar {
  width: 12px;
}

div::-webkit-scrollbar-track {
  background: var(--blueTransparent);
  border-radius: 20px;
}

div::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 20px;
  border: 1px solid var(--red);
}
